* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .sky {
    width: 100%;
    height: 100vh;
    background-image: url("https://th.bing.com/th/id/R.7e8f063b9be6528c6eb36e3833c449ee?rik=oZ5ivgjVrNWs4w&riu=http%3a%2f%2fwww.wallpapermaiden.com%2fimage%2f2016%2f09%2f20%2fanime-landscape-night-moon-clouds-sky-lake-artwork-anime-6198.png&ehk=Yo%2fRH35rm%2fxk3uCMMK%2bxHp8Uzgs5iPszZhENlRbjbG0%3d&risl=1&pid=ImgRaw&r=0");
    position: relative;
    background-size: cover;
    overflow: hidden;
  }
  .highway {
    height: 200px;
    width: 300%;
    background-image: url("../assets/_highway.jpg");
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    animation: highway 5s linear infinite;
  }
  
  @keyframes highway {
    100% {
      transform: translateX(-1500px);
    }
  }
  
  .city {
    width: 300%;
    height: 200px;
    background-image: url("./assets/city.png");
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    animation: city 20s linear infinite;
  }
  
  @keyframes city {
    100% {
      transform: translateX(-1500px);
    }
  }
  
  .car {
    width: 400px;
  
    /* border: 2px solid green; */
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
  }
  .car img {
    width: 100%;
    animation: car 1s linear infinite;
  }
  
  .wheel {
    /* border: 2px solid red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 185px;
    z-index: 2;
  }
  
  .wheel img {
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
  }
  .front-wheel {
    position: absolute;
    left: 80px;
  }
  .back-wheel {
    position: absolute;
    left: -165px;
  }
  @keyframes wheel {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes car {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-5px);
    }
  }