*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    border: 2px solid black;
}
header{
    width: 100%;
    background-color: darkgray;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
section{
    border: 2px solid black;
}
article{
    background-color: bisque;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsec {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.fitem{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 50%;
}
